.header {
  z-index: 1;
  height: 485px;
  width: 100%;
  padding-top: 125px;
  color: #ffffff;
  background-color: #4056a1f2;
  font-family: 'Source Sans Pro', sans-serif;  
  font-size: 0px;
  background-image: url(https://www.transparenttextures.com/patterns/foggy-birds.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-username {
  display: flex;
  font-size: 2.5rem;
  margin: 25px;
}

@media (min-width: 1024px) {
  .header {
    width: 45%;
    max-width: 550px;
    height: 80%;
    margin: 50px;
    margin-top: 186px;
    padding-top: 30px;
  }
  .header-username {
    padding-bottom: 20px;
  }
}