.header {
  z-index: 1;
  height: 485px;
  width: 100%;
  padding-top: 125px;
  color: #ffffff;
  background-color: #4056a1f2;
  font-family: 'Source Sans Pro', sans-serif;  
  font-size: 0px;
  background-image: url(http://www.transparenttextures.com/patterns/foggy-birds.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-username {
  display: flex;
  font-size: 2.5rem;
  margin: 25px;
}