.navbar {
  position: fixed;
  z-index: 2;
  color: #ffffff;
  background-color: #4056A1;
  height: 100px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo a {
  font-family: "Bungee", cursive;
  font-size: 3rem;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-menu i{
  color: red;
}

#navbar-btn {
  background-color: #4056A1;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 8px;
}

#navbar-icon .fas {
  transform: none;
  color: #c60c59;
}

#navbar-btn:hover {
  transform: scale(1.15);
}

#navbar-btn:hover + #navbar-icon {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-name: bounce-icon;
  animation-timing-function: ease;
}
@keyframes bounce-icon {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}
